<div class="card sidebar">
  <div class="card-header">Memory Usage</div>
  <div class="card-body">
    <div class="card-text">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Total Heap: {{stats.memoryUsage.heapTotal}} MB</li>
        <li class="list-group-item">Used Heap: {{stats.memoryUsage.heapUsed}} MB</li>
        <li class="list-group-item">RSS: {{stats.memoryUsage.rss}} MB</li>
      </ul>
    </div>
  </div>
</div>
<div class="card sidebar">
  <div class="card-header">CPU Usage</div>
  <div class="card-body">
    <div class="card-text">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">User: {{stats.cpuUsage.user}} sec</li>
        <li class="list-group-item">System: {{stats.cpuUsage.system}} sec</li>
      </ul>
    </div>
  </div>
</div>
<div class="card sidebar">
  <div class="card-header">Disk Usage</div>
  <div class="card-body">
    <div class="card-text">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Total Heap (MB)</li>
        <li class="list-group-item">Used Heap (MB)</li>
        <li class="list-group-item">External (MB)</li>
      </ul>
    </div>
  </div>
</div>
<div class="card sidebar">
  <div class="card-header">Uptime</div>
  <div class="card-body">
    <div class="card-text">
      {{stats.uptime}} sec
    </div>
  </div>
</div>

<div class="card sidebar">
  <div class="card-header">System</div>
  <div class="card-body">
    <div class="card-text">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Node version: {{stats.nodeVersion}}</li>
        <li class="list-group-item">OS: {{stats.platform}}</li>
      </ul>
    </div>
  </div>
</div>