<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/css/style.css' />
  <link rel='stylesheet' href='/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/css/fa-svg-with-js.css' />
  <script src="/js/fontawesome-all.min.js"></script>
</head>

<body>
  {{> header}}

  {{!-- <div class="container-fluid" id="breadcrumb">
    <ol class="breadcrumb">
      <li class="active">
        {{ routePath }}
      </li>
    </ol>
  </div> --}}

  <div class="container" id="main">
    <div class="row">
      <div class="col-lg-12">
        {{#if success_msg}}
        <div class="alert alert-success">{{success_msg}}</div>
        {{/if}} {{#if error_msg}}
        <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}} {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
        {{/if}}
      </div>
    </div>
    {{{body}}}
  </div>

  <div class="spacer"></div>

  <footer id="footer" class="fixed-bottom">
    <p>&copy; Mark Onyango 2017</p>
  </footer>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>