<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link href="/css/OpenSans.css" rel="stylesheet">
  <link rel='stylesheet' href='/css/style.css' />
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/projects.css" />
  <link rel='stylesheet' href='/css/fa-svg-with-js.min.css' />
  <script src="/js/fontawesome.min.js"></script>
  <script src="/js/fa-solid.min.js"></script>
  {{!-- FAVICON CODE --}}
  <link rel="apple-touch-icon" sizes="180x180" href="/ico/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/ico/favicon-16x16.png">
  <link rel="manifest" href="/ico/manifest.json">
  <link rel="mask-icon" href="/ico/safari-pinned-tab.svg" color="#5bbad5"> {{#if css}}
  <link rel="stylesheet" href="{{css}}">{{/if}}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="gridBox" id="main">
    <div class="gridNavbar">{{> header}}</div>
    {{#if user}}
    <div class="gridSidebar" id="sidebar">
      {{> sidebar}}
    </div>
    <div class="gridContent" id="mainBox">
      {{> alerts}} {{{body}}}
    </div>
    {{else}}
    <div class="gridContent" id="mainBox">
      {{> alerts}} {{{body}}}
    </div>
    {{/if}}
    <footer id="footer" class="gridFooter">
      &copy; Mark Onyango 2017
    </footer>
  </div>

  {{#if script}}
  <script src="{{script}}"></script> {{/if}}
</body>

</html>