{{#if projects}}
<table>
    <thead>
        <th>Project Name</th>
        <th name="projecttype">Project Type</th>
        <th name="created_at">Created at</th>
        <th name="status">Status</th>
    </thead>
    {{#each projects}}
    <tr>
        <td>
            <a href="/projects/{{_id}}">{{this.projectname}}</a>
        </td>
        <td name="projecttype">{{this.projecttype}}</td>
        <td name="created_at">{{formatDatum this.created}}</td>
        <td name="status">{{status this.status this._id}}</td>
    </tr>
    {{/each}}
</table>
{{/if}}

<!-- Modal -->
{{> add_project}}

<script src="/js/projects.js"></script>