{{#if project}}
<p>{{project.projectname}} - {{project.projecttype}}</p>
<p>Settings:
    <pre>{{{json project.settings}}}</pre>
</p>
<p>Files: {{project.files}}</p>
<p>Status: {{project.status}}</p>

{{#if project.logfiles}}
<div class="card-deck">
    {{#if project.logfiles.[1]}}
    <div class="card border-dark" style="border-radius: 2px !important">
        <h5 class="card-header bg-success">Logfile</h5>
        <div class="card-body">
            <div class="card-text">
                {{{html project.logfiles.[1]}}}
            </div>
        </div>
    </div>{{/if}} {{#if project.logfiles.[0]}}
    <div class="card border-dark">
        <h5 class="card-header bg-danger">Errors</h5>
        <div class="card-body">
            <div class="card-text">
                {{{html project.logfiles.[0]}}}
            </div>
        </div>
    </div> {{/if}}
</div> {{/if}}
{{else}}
<p>No project with this ID found!</p>
{{/if}}