{{#if projects}}
<table class="table-projects">
    <thead>
        <th></th>
        <th name="projectname">Project Name</th>
        <th name="projecttype">Project Type</th>
        <th name="created_at">Created at</th>
        <th name="status">Status</th>
    </thead>
    {{#each projects}}
    <tr>
        <td><a href="/projects/{{_id}}"><i class="fas fa-info-circle"></i></a></td>
        <td>{{this.projectname}}</td>
        <td name="projecttype">{{this.projecttype}}</td>
        <td name="created_at">{{formatDatum this.created}}</td>
        <td name="status">{{status this.status this._id}}</td>
    </tr>
    {{/each}}
</table>
{{/if}}
<button class="btn btn-primary" id="addProjectButton">Add project</button>
<!-- Modal -->
{{> add_project}}

<script type="module" src="/js/projects.js"></script>