{{#if projects}}
<table class="table table-hover table-sm table-responsive-sm">
    <th>Project Name</th>
    <th>Project Type</th>
    <th>Settings</th>
    <th>Files</th>
    <th>Created at</th>
    <th>Status</th>
    {{#each projects}}
    <tr>
        <td><a href="/projects/{{_id}}">{{this.projectname}}</a></td>
        <td>{{this.projecttype}}</td>
        <td>{{this.settings}}</td>
        <td>{{this.files}}</td>
        <td>{{this.created}}</td>
        <td>{{this.status}}</td>
    </tr>
    {{/each}}
</table>
{{/if}}
<p>&nbsp;</p>
<button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#exampleModal">Add Project</button>




<!-- Modal -->
{{> add_project}}