{{#if projects}}
    <table>
        <thead>
            <th>Project Name</th>
            <th name="projecttype">Project Type</th>
            <th name="created_at">Created at</th>
            <th name="status">Status</th>
        </thead>
        {{#each projects}}
        <tr>
            <td>
                <i class="fas fa-plus-square" data-toggle="collapse" data-target="#{{this._id}}" class="clickable"></i>
                <a href="/projects/{{_id}}" class="ml-2">{{this.projectname}}</a>
            </td>
            <td name="projecttype">{{this.projecttype}}</td>
            <td name="created_at">{{formatDatum this.created}}</td>
            <td name="status">{{status this.status this._id}}</td>
        </tr>
        {{/each}}
    </table>
{{/if}}

<p>&nbsp;</p>
<button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#exampleModal">Add Project</button>




<!-- Modal -->
{{> add_project}}