{{#if project}}
<h2 class="project-header">{{project.projectname}}</h2>
<h4>{{project.projecttype}}</h4>
<div class="project-details-deck">
    <div class="card">
        <h5 class="card-header">Settings</h5>
        <div class="card-body">
            <div class="card-text">
                <ul class="list-group">
                    {{#each project.settings}}
                    <li class="list-group-item">
                        {{@key}}
                        <span>{{this}}</span>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header">Uploaded Files</h5>
        <div class="card-body">
            <div class="card-text">
                <ul class="list-group">
                    {{#each project.files}}
                    <li class="list-group-item">
                        {{this}}
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>

<p>
    Status: {{project.status}} -
    <button class="btn" id="resultBtn" {{#if project.logfiles}}{{else}}disabled{{/if}}>Show PDF</button>
    <button class="btn" id="tempfilesBtn">Download temporary files</button>
</p>


{{else}}
<p>No project with this ID found!</p>
{{/if}}
