<h2 class="project-title">{{project.projectname}}</h2>
<h4>{{project.projecttype}}</h4>

<div class="project-details-deck">
    <div class="card">
        <div class="card-header">Settings</div>
        <div class="card-body">
            <ul class="list-group">
                {{#each project.settings}}
                <li class="list-group-item">
                    {{@key}}
                    <span>{{this}}</span>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Uploaded Files</div>
        <div class="card-body">
            <ul class="list-group" id="fileList">
                {{#each project.files}}
                <li class="list-group-item">
                    {{this}}
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Result Files</div>
        <div class="card-body">
            <ul class="list-group" id="fileList">
                {{#each project.AlignReport.resultFiles}}
                <li class="list-group-item">
                    {{this}}
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

{{#if project.logfiles}}
<ul class="list-group" id="samstatFileList">
    
</ul>
<div id="results">

</div>

{{#if project.logfiles.[1]}}
<div class="card logfile">
    <div class="card-header">Logfile</div>
    <div class="card-body">
        {{{html project.logfiles.[1]}}}
    </div>
</div>{{/if}} {{#if project.logfiles.[0]}}
<div class="card errorfile">
    <div class="card-header">Errors</div>
    <div class="card-body">
        {{{html project.logfiles.[0]}}}
    </div>
</div> {{/if}}
{{#if project.AlignReport}}<script>window.Report = {{{ json project.AlignReport }}}</script>
<script defer src="/js/results/align.js"></script> {{/if}}
{{/if}}